extends layout

block content
  .canvas
    h1 About
  .meta
    p I can't recall the date (pun intended) that I came up with the idea of creating a font
      |  out of On Kawara's Date Paintings. I vaguely remember that I learned about his work at the
      |  end of the 90s, when I was in art school in Groningen, the Netherlands. Though a lot of
      |  my fellow students could not appreciate this type of conceptual art, I fell in love with it.
    p I cannot recall either when I have seen my first Date Painting, but in the past years I
      |  have seen them in Washington DC, the Kröller-Möllermuseum and many other museums.
    p copyright 2018-2019
      |
      |
      a(href='http://www.y-a-v-a.org') Y4V4
      |
      |
      a(href='https://creativecommons.org/licenses/by-sa/4.0/') CCBYSA
    p
      a(href="/") back
