extends layout

block content
  .canvas
    h1 About
  .meta
    p I can't recall the date that I came up with the idea of creating a font
      |  out of On Kawara's Date Paintings. I vaguely remember that I learned about his work at the
      |  end of the 90s, when I was in art school in Groningen, the Netherlands. Though a lot of
      |  my fellow students could not appreciate this type of conceptual art, I fell in love with it.
    p I cannot recall either when I have seen my first Date Painting, but in the past years I
      |  have seen them in Washington DC, the Kroller-Mollermuseum and many other museums.
    p The idea of creating a font face based on the Today Series is a hommage to the works of On
      |  Kawara in general and to the series in particular. I started creating the font face as a
      |  journey into font creation. But it also drew me closer to how On Kawara formed his letters.
    p I am still surprised about where he drew his inspiration from for certain letters and numbers.
      |  Some are very specific, like the 5. The form is a bit dissonant with the other numbers,
      |  0, 1, 2, 3, 4, 5, 6, 7, 8, 9.
    p Also, the U is quite remarkable as it is relatively wide. The R is also a bit weird, it has a
      |  big upper part with a somewhat short leg.
    p I have been researching a lot of date paintings in order to find as much characters from the
      |  alphabet as possible, but I was not able to find the H, Q, W and X characters. I have made
      |  them up myself.
    p Since the 'Today series' is only in upper case, I have decided, for now, to only support
      |  upper case characters, and that all lower case characters just render its upper case
      |  equivalent.
    p There is still a lot to be done. I am currently working on kerning most characters, which is
      |  a hell of a job. After that I would like to add additional glyphs to enlarge the characters
      |  in the font. For now, you have to accept the basic latin alphabet, numbers and the , ' and .
    p Join me on extending the amount of characters! The font will soon be available on Github.
    p copyright 2018-2019
      |
      |
      a(href='http://www.y-a-v-a.org') Y4V4 Vincent Bruijn
      |
      |
      a(href='https://creativecommons.org/licenses/by-sa/4.0/') CCBYSA
    p
      br
      a(href="/") back
