extends layout

block content
  .canvas
    h1
      a(href='/fonts/OnKawara-Regular#{fontVersion}.otf') Download
  .meta
    p Download the On Kawara font via clicking 'Download'
    p
      br
      a(href="/") back
