extends layout

block content
  .canvas
    h1(id='today-series' contenteditable)= date
  .meta
    p The above is not an image of a Today Series painting of On Kawara. It is a render of the
      |  current date in the On Kawara font.
    p
      a(href="/about") about
      | &nbsp;-&nbsp;
      a(href="/download") download
      | &nbsp;-&nbsp;
      a(href="/download") github
      | &nbsp;-&nbsp;
      a(href="https://www.instagram.com/aan_arwok_/") instagram
  script(src='/javascripts/main.js')
