extends layout

block content
  .canvas
    h1(id='today-series' contenteditable)= date
  .meta
    P 'Aan Arwok' font face is available now. This text is set in 'Aan Arwok' Regular,
      |  an open source font face based on the paintings from the 'Today' series from On Kawara.
    p
      a(href="/about") about
      |
      |
      a(href="/download") download
      |
      |
      a(href="https://github.com/y-a-v-a/aan_arwok_" target="_blank") github
      |
      |
      a(href="https://www.instagram.com/aan_arwok_/" target="_blank") instagram
  script(src='/javascripts/main.js')
