doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      @font-face {
        font-family: AanArwok;
        src: url("/fonts/OnKawara-Regular#{fontVersion}.otf") format("opentype");
      }
      body, a, a:visited, a:active { color: !{theme.fg}; }
      body { background-color: !{theme.bg}; }
      a:hover { color: #aaa; }
  body(class='with-on-kawara-font')
    block content

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-16179947-36"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-16179947-36');


