@font-face {
  font-family: OnKawara;
  src: url("/fonts/OnKawara-Regular.otf") format("opentype");
}

:focus {
  outline: #f1f1f1 auto 5px;
}

body {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
}

.with-on-kawara-font {
  font-family: OnKawara, Helvetica;
}

/*
Date painting color variants
  * white on gray: #f1f1f1 on #383838
  * white on red: #e2e2e2 on #cd3838
  * white on greenish: #e2e3e4 on #323b3f
*/

.white-on-gray {
  color: #f1f1f1;
  background-color: #383838;
}

.white-on-gray a,
.white-on-gray a:visited,
.white-on-gray a:active {
  color: #f1f1f1;
}

.white-on-gray a:hover {
  color: #ccc;
}

.white-on-red {
  color: #e2e2e2;
  background-color: #cd3838;
}

.white-on-red a,
.white-on-red a:visited,
.white-on-red a:active {
  color: #e2e2e2;
}

.white-on-red a:hover {
  color: #fff;
}

.white-on-greenish {
  color: #e2e3e4;
  background-color: #323b3f
}

.white-on-greenish a,
.white-on-greenish a:visited,
.white-on-greenish a:active {
  color: #e2e3e4;
}

.white-on-greenish a:hover {
  color: #fff;
}

.canvas {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 14vw;
  font-weight: normal;
}

a {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

.meta {
  text-align: center;
  padding: 48px 92px;
  font-size: 1em;
}

@media (min-width: 768px) {
  .meta {
    padding: 48px 192px;
  }
}
